@font-face {
    font-family: 'Good Office Pro';
    src: url('/fonts/GoodOffcPro.woff') format('woff');
}

@font-face {
    font-family: 'Good Office Pro Bold';
    src: url('/fonts/GoodOffcPro-Bold.woff') format('woff');
}
